.lcars-bracket
  background-color: var(--lcars-color-default)

  &.left
    width: var(--lcars-unit)
    border-top-left-radius: var(--lcars-unit)
    border-bottom-left-radius: var(--lcars-unit)
    border-width: calc(var(--lcars-unit) * 2 / 3) 0 calc(var(--lcars-unit) * 2 / 3) calc(var(--lcars-unit) / 3)

  &.right
    width: var(--lcars-unit)
    border-top-right-radius: var(--lcars-unit)
    border-bottom-right-radius: var(--lcars-unit)
    border-width: calc(var(--lcars-unit) * 2 / 3) calc(var(--lcars-unit) / 3) calc(var(--lcars-unit) * 2 / 3) 0

  &.top
    height: var(--lcars-unit)
    border-top-left-radius: var(--lcars-unit)
    border-top-right-radius: var(--lcars-unit)
    border-width: calc(var(--lcars-unit) / 3) calc(var(--lcars-unit) * 2 / 3) 0 calc(var(--lcars-unit) * 2 / 3)

  &.bottom
    height: var(--lcars-unit)
    border-bottom-left-radius: var(--lcars-unit)
    border-bottom-right-radius: var(--lcars-unit)
    border-width: 0 calc(var(--lcars-unit) * 2 / 3) calc(var(--lcars-unit) / 3) calc(var(--lcars-unit) * 2 / 3)

  &.hollow
    background-color: var(--lcars-color-default-bg)
    border-style: solid