@use 'globals'

.lcars-column
  display: inline-flex
  flex-direction: column
  flex-wrap: wrap

  &.fill
    flex: 1

  &.centered
    justify-content: center

  &.full-centered
    justify-content: center
    align-items: center

  &.centered-right
    justify-content: center
    align-items: flex-end

  &.right
    align-items: flex-end

  &.bottom
    justify-content: flex-end

  &.bottom-centered
    justify-content: flex-end
    align-items: center

  &.gap:last-child,
  &.gap-small:last-child
    margin-bottom: 0

  &.gap > *
    margin-bottom: var(--lcars-gap)

  &.gap-small > *
    margin-bottom: var(--lcars-gap-small)

  &.left-menu
    padding-right: 2rem

  &.right-menu
    padding-left: 2rem

  &.start-space
    margin-top: 0.25rem
