
@use 'globals'

.lcars-elbow
  position: relative
  width: calc(var(--lcars-unit) * 2)
  min-width: calc(var(--lcars-unit) * 2)
  height: calc(var(--lcars-unit) * 2)
  min-height: calc(var(--lcars-unit) * 2)
  background: var(--lcars-color-default)
  margin: 0

  &:after
    content: ''
    display: block
    position: absolute
    width: calc(var(--lcars-unit) * 1)
    height: calc(var(--lcars-unit) * 1)
    background: var(--lcars-color-default-bg)

  &.left-bottom
    border-top-left-radius: calc(var(--lcars-unit) * 2)

  &.left-bottom:after
    right: 0
    top: calc(var(--lcars-unit) * 1)
    border-top-left-radius: calc(var(--lcars-unit) * 1)

  &.left-top
    border-bottom-left-radius: calc(var(--lcars-unit) * 2)

  &.left-top:after
    right: 0
    bottom: calc(var(--lcars-unit) * 1)
    border-bottom-left-radius: calc(var(--lcars-unit) * 1)

  &.right-bottom
    border-top-right-radius: calc(var(--lcars-unit) * 2)

  &.right-bottom:after
    top: calc(var(--lcars-unit) * 1)
    border-top-right-radius: calc(var(--lcars-unit) * 1)
  
  &.right-bottom.square-outer
    border-top-right-radius: 0

  &.right-top
    border-bottom-right-radius: calc(var(--lcars-unit) * 2)

  &.right-top:after
    bottom: calc(var(--lcars-unit) * 1)
    border-bottom-right-radius: calc(var(--lcars-unit) * 1)
  
  &.right-top.square-outer
    border-bottom-right-radius: 0
