
@use 'globals'

.lcars-elbow
  position: relative
  width: calc(var(--lcars-unit) * 2)
  min-width: calc(var(--lcars-unit) * 2)
  height: calc(var(--lcars-unit) * 2)
  min-height: calc(var(--lcars-unit) * 2)
  background: var(--lcars-color-default)
  margin: 0

  &:after
    content: ''
    display: block
    position: absolute
    width: calc(var(--lcars-unit) * 1)
    height: calc(var(--lcars-unit) * 1)
    background: var(--lcars-color-default-bg)

  &.left-bottom
    border-top-left-radius: calc(var(--lcars-unit) * 2)

  &.left-bottom:after
    right: 0
    top: calc(var(--lcars-unit) * 1)
    border-top-left-radius: calc(var(--lcars-unit) * 1)

  &.left-top
    border-bottom-left-radius: calc(var(--lcars-unit) * 2)

  &.left-top:after
    right: 0
    bottom: calc(var(--lcars-unit) * 1)
    border-bottom-left-radius: calc(var(--lcars-unit) * 1)

  &.right-bottom
    border-top-right-radius: calc(var(--lcars-unit) * 2)

  &.right-bottom:after
    top: calc(var(--lcars-unit) * 1)
    border-top-right-radius: calc(var(--lcars-unit) * 1)
  
  &.right-bottom.square-outer
    border-top-right-radius: 0

  &.right-top
    border-bottom-right-radius: calc(var(--lcars-unit) * 2)

  &.right-top:after
    bottom: calc(var(--lcars-unit) * 1)
    border-bottom-right-radius: calc(var(--lcars-unit) * 1)
  
  &.right-top.square-outer
    border-bottom-right-radius: 0

.lcars-t-left,
.lcars-t-right
  flex-direction: column
  position: relative
  width: 150px
  height: 150px
  background-color: #fb5

.lcars-t-left:before
  content: ''
  background-color: var(--lcars-color-default-bg)
  width: 50px
  height: 50px
  display: block
  position: absolute
  top: 0
  right: 0
  border-bottom-left-radius: 50px
  margin: 0
  padding: 0

.lcars-t-left:after
  content: ''
  background-color: var(--lcars-color-default-bg)
  width: 50px
  height: 50px
  display: block
  position: absolute
  bottom: 0
  right: 0
  border-top-left-radius: 50px
  margin: 0
  padding: 0

.lcars-t-right:before
  content: ''
  background-color: var(--lcars-color-default-bg)
  width: 50px
  height: 50px
  display: block
  position: absolute
  top: 0
  left: 0
  border-bottom-right-radius: 50px
  margin: 0
  padding: 0

.lcars-t-right:after
  content: ''
  background-color: var(--lcars-color-default-bg)
  width: 50px
  height: 50px
  display: block
  position: absolute
  bottom: 0
  left: 0
  border-top-right-radius: 50px
  margin: 0
  padding: 0
