@use 'colors'

.lcars-element
  position: relative
  font-weight: bold
  font-size: 1.2vw
  vertical-align: middle
  line-height: 3vw
  color: colors.$defaultBg
  background: #fc6
  height: 3vw
  width: 8vw
  box-sizing: border-box
  padding-left: 0.75vw
  padding-right: 0.75vw
  display: inline-flex
  flex-direction: row
  align-items: flex-end

  & *
    margin: 0

  &.right
    text-align: right
    justify-content: flex-end

  &.left-rounded
    border-top-left-radius: 1.5vw
    border-bottom-left-radius: 1.5vw
    padding-left: 1.5vw

  &.right-rounded
    border-top-right-radius: 1.5vw
    border-bottom-right-radius: 1.5vw
    padding-right: 1.5vw

  &.rounded
    border-radius: 1.5vw
    padding-left: 1.5vw
    padding-right: 1.5vw

  &.button
    cursor: pointer

  &.button.button:active
    background-color: #c69

  & &-addition
    display: flex
    flex-direction: column
    justify-content: flex-end
    height: 100%
    background-color: colors.$defaultBg
    color: #fff
    font-size: 2vw
    margin-left: 0.25vw
    padding-left: 0.25vw
    padding-right: 0.25vw

  & &-decorator
    display: inline-block
    position: absolute
    top: 0
    width: 2vw
    left: -2.25vw
    height: 100%
    background-color: #fc6
    border-top-left-radius: 1.5vw
    border-bottom-left-radius: 1.5vw

  & &-decorator:after
    content: ''
    display: block
    position: absolute
    right: 0.25vw
    width: 0.25vw
    height: 100%
    background-color: colors.$defaultBg

  & &-decorator.right
    right: -2.25vw
    left: unset
    border-top-right-radius: 1.5vw
    border-bottom-right-radius: 1.5vw
    border-top-left-radius: 0
    border-bottom-left-radius: 0

  & &-decorator.right:after
    left: 0.25vw
    right: unset

  &.cap
    width: 2vw
    padding: 0