name: Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  release:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    env:
      VITE_ENVIRONMENT: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Version Variable
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Build
        run: |
          yarn
          yarn build
          mkdir release
          cp dist/assets/index*.js release/ha-lcars-panel.js
          cp dist/assets/index*.css release/ha-lcars-panel.css
          cp dist/assets/index*.js release/ha-lcars-panel-${{ env.RELEASE_VERSION }}.js
          cp dist/assets/index*.css release/ha-lcars-panel-${{ env.RELEASE_VERSION }}.css
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            release/ha-lcars-panel.js
            release/ha-lcars-panel.css
            release/ha-lcars-panel-${{ env.RELEASE_VERSION }}.js
            release/ha-lcars-panel-${{ env.RELEASE_VERSION }}.css
          token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
